/* https://davidmathlogic.com/colorblind/ */
:host,
:root {
    --ibm-blue: #648fff;
    --ibm-purple: #785ef0;
    --ibm-magenta: #dc267f;
    --ibm-orange: #fe6100;
    --ibm-gold: #ffb000;

    --wong-black: #000000;
    --wong-gold: #e69f00;
    --wong-light-blue: #56b4e9;
    --wong-green: #009e73;
    --wong-yellow: #f0e442;
    --wong-blue: #0072b2;
    --wong-orange: #d55e00;
    --wong-pink: #cc79a7;

    --tol-purple: #328;
    --tol-green: #173;
    --tol-teal: #4a9;
    --tol-blue: #8ce;
    --tol-yellow: #dc7;
    --tol-red: #c67;
    --tol-magenta: #a49;
    --tol-fuchsia: #825;
}

body {
    font-family: sans-serif;
}

nav {
    display: flex;
    gap: 2em;
}

.caffeinated {
    color: var(--wong-orange);
    font-style: italic;
}

.uncaffeinated {
    color: var(--wong-blue);
}

.card {
    margin: 0.25em;
    border: 1px solid #aaa;
    border-radius: 0.5em;
    padding: 0.5em;
    max-width: 1200px;
}

.tea-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 'name rating' 'name count';
    justify-content: space-between;
    gap: 0.25em;
}

.review-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'reviewer rating' 'name name' 'comment comment';
    justify-content: space-between;
    gap: 0.25em;
}

.card .name {
    grid-area: name;
    height: min-content;
    width: 100%;
    margin: auto;
    gap: 0.25em;
}

.card .rating {
    grid-area: rating;
    color: var(--wong-gold);
    margin-top: auto;
    min-width: max-content;
    text-align: end;
}

.card .count {
    grid-area: count;
}

.card .reviewer {
    grid-area: reviewer;
}

.card .comment {
    grid-area: comment;
    margin-top: 0.125em;
    border-top: 1px solid #aaa;
    padding-top: 0.25em;
}
